<div class="card">
  <div class="card-body">
    <h5 class="card-title"><%= comment.user.present? ? comment.user.username : "Sem mais comentários..." %> </h5>
    <p class="card-text">
      <%= comment.content %>
    </p>
    <% if current_user == comment.user %>
      <div class="d-flex">
        <div class="ms-auto">
          <%= button_to 'Delete', [comment.post, comment], method: :delete, class: "btn btn-danger" %>
        </div>
      </div>
    <% end %>
  </div>
</div>